@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&family=Raleway&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
}

h1 {
    color: darkslategrey;
    font-family: 'Raleway', sans-serif;
}

h2,
h3,
h4,
h5,
h6,
div,
p,
span {
    color: darkslategrey;
    font-family: 'Caveat', cursive;
}

.mainDiv {
    /* font-family: 'Caveat', cursive; */
    text-align: center;
    padding: 5%;

}

.formDiv {
    display: flex;
    justify-content: space-around;


}


.task {
    background-color: orchid;

}

.task.purchased {
    background-color: grey;
    text-decoration: line-through;
}

form {
    width: 100vw;
}

button {
    background-color: goldenrod;
    border: 1px solid brown;
    color: midnightblue;
    padding: 2%;
}

input::placeholder {
    opacity: 1;
}